# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Tests
.pytest_cache/
.coverage

# Environnement virtuel
venv/
.venv/
env/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Claude
.claude/

# Slides
generate_slides.py
*.pptx
